<mat-card [formGroup]="prxtimeForm">
  <mat-card-header>
    <mat-card-title>Calculate MSSAL</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-col space-y-4">
      <mat-form-field appearance="fill">
        <mat-label>Current Mssal</mat-label>
        <input matInput type="text" formControlName="mssal">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>To add / remove</mat-label>
        <input matInput type="text" formControlName="offset">
        <mat-error *ngIf="offsetForm!.invalid || offsetForm!.hasError('pattern')">
          The input must be in the format of "xx:yy"
        </mat-error>
      </mat-form-field>
      <mat-slide-toggle name="toRemove" (change)="onToRemoveChange($event)">To remove hours</mat-slide-toggle>
      <div class="flex shadow-md" *ngIf="showCalculation">
        <div class="flex w-1/4 rounded-l-sm items-center p-2 px-4 bg-indigo-300">
          <span class="font-bold">MSSAL</span>
        </div>
        <div class="flex w-3/4 rounded-r-sm items-center p-2 px-4 bg-indigo-200">
          {{this.newMSSAL | timeTransformPipe}}
        </div>
      </div>
      <div></div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="calculateMSSAL()">Calculate MSSAL</button>
  </mat-card-actions>
</mat-card>