<mat-card>
  <mat-card-header>
    <mat-card-title>Jira tickets in progress</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let ticket of selectedTicketsData" class="flex items-center space-x-4 h-12">
        <input type="checkbox" [(ngModel)]="ticket.selected">
        <span>{{ticket.number}}</span>
        <a href="{{createALinkToTicket(ticket.number)}}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </a>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions class="flex justify-between">
    <button mat-raised-button color="primary" (click)="deleteSelectedTickets()">Delete selected</button>
    <button mat-raised-button color="primary" (click)="saveSelectedTickets()">Save selected</button>
  </mat-card-actions>
</mat-card>